.app-component{
  padding: 8px 25px;
  background-color: #000;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5%;
}


/*
.btn{
  padding: 8px 25px;
  background-color: #000;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5%;
}

*/